%h2=user.name
%ul
- TRIPPAL['provider'].each do |provider_id, args|
  - if user_providers[provider_id].blank?
    %li= link_to "#{provider_id.camelize}アカウントを追加", "/auth/#{provider_id}" 
  - else
    %li= name

- with(:self?) do
  |
  = link_to 'Edit', edit_user_path(user.id)
  |
  = link_to 'Destroy', user, method: :delete,  confirm: 'Are you sure?'
  |
